

name: Make Package # whenever you push to any branch you should run make test

on:
  push:
    branches:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Package
        run: VERSION="${GITHUB_REF#refs/*/}" make test